* {
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}

.container {
    max-width: 1140px;
    margin: auto;
}

#banner_part {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../images/nature.jpg) no-repeat center/cover;
    position: relative;
}

.hero_text {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

h5 {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    text-transform: capitalize;
    margin-bottom: 10px;
}

h1 {
    color: #fff;
    font-size: 40px;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 20px;
}
h1 b{
    color:#5D0012;

}
.banner_icon a{
    color:#5D0012;
    font-size: 20px;
    margin:0 5px;
}